includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    editorUrl: 'vscode://file/%%file%%:%%line%%'

    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false

